# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# vscode
.vscode/*

# svn & cvs
.svn
CVS
/target/
/sounds/
/psd/
/nbproject/
/bin/
/movies/
/OTG_Files/

# other stuff
.classpath
.project
.settings
nb-configuration.xml

.idea/
*.iml
_site/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
